.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ff4c68;
}

h2 {
   font-size: 3rem; 
   line-height: 1.5;
}

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color:#fff;
} 

.testimonial-image {
    width:10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.logo {
    width:15%;
    margin: 20px 20px 50px;
}

.carousel-item {
 padding: 7% 15%;
}

#pricing {
    padding:100px;
    text-align:center;
}

.pricecol {
    padding: 2% 3%;
}
.title {
   background-color:#ff4c68; 
   padding: 3% 15% 7%;
}

.title-image {
     width:20%; 
     transform: rotate(25deg); 
     position:absolute; 
     right:30%
}
 
@media (max-width:1028px) {
    .title {
        text-align:center;
    }

    .title-image {
        position:static;
        transform:rotate(0);
    }
}

#cta {
    text-align:center;
    background-color: #ff4c68;
    color:#fff;
    height:500px;
    padding: 7% 14%;
}

#footer {
    padding : 7% 15%;
    text-align:center;
}
.social {
    margin: 20px 15px;
}
